:root {
  --text-color: #212121;
  --text-color2: #757575;
  --font-family: "Roboto";
  --second-family: "Raleway";
  --no-points: none;
}

#logo {
  font-family: var(--second-family);
  font-weight: bold;
  font-size: 40px;
}

body {
  font-family: var(--font-family);
}

.navigation_styles {
  display: block;
  margin-left: auto;
  margin-top: auto;
  text-align: center;
  padding-right: auto;
  margin-right: auto;
}

.link_style:first-child {
  margin-left: -500px;
  margin-top: -50px;
}
.link_style:nth-child(2) {
  margin-left: -200px;
  margin-top: -19px;
}
.link_style:last-child {
  margin-left: 100px;
  margin-top: -19px;
}

.email.text {
  margin-left: 1000px;
  margin-top: -50px;
}

.telephone.text {
  margin-left: 1000px;
  margin-top: -18px;
}

.link_style:first-child:hover {
  color: white;
  background-color: rgb(0%, 50%, 100%);
}
.link_style:nth-child(2):hover {
  color: white;
  background-color: rgb(0%, 50%, 100%);
}
.link_style:last-child:hover {
  color: white;
  background-color: rgb(0%, 50%, 100%);
}

.style1 {
  text-align: center;
  background-color: rgb(20%, 20%, 20%);
  color: white;
  height: 160px;
  white-space: 20px;
}

.style2 {
  text-transform: uppercase;
  word-spacing: 5px;
}

.list_none {
  list-style: none;
}

.buttonstyles {
  background-color: rgb(0%, 50%, 100%);
}

.textstyle_name {
  color: var(--text-color);
}

.textstyle_working {
  color: var(--text-color2);
}

.textstyle_name:first-child {
  text-align: inherit;
}
.textstyle_name:nth-child(2) {
  text-align: inherit;
}
.textstyle_name:nth-child(3) {
  text-align: inherit;
}
.textstyle_name:last-child {
  text-align: inherit;
}

.textstyles:first-child {
  margin-left: 50px;
}
.textstyles:nth-child(2) {
  margin-left: 350px;
  margin-top: -120px;
}
.textstyles:nth-child(3) {
  margin-left: 650px;
  margin-top: -103px;
}
.textstyles:last-child {
  margin-left: 950px;
  margin-top: -103px;
}

.imagestyles:first-child {
  margin-left: 10px;
}
.imagestyles:nth-child(2) {
  margin-left: 410px;
  margin-top: -298px;
}
.imagestyles:last-child {
  margin-left: 810px;
  margin-top: -298px;
}
.styles h2 {
  text-align: center;
}

.cardstyles:first-child {
  margin-left: 30px;
}
.cardstyles:nth-child(2) {
  margin-left: 330px;
  margin-top: -356px;
}
.cardstyles:nth-child(3) {
  margin-left: 630px;
  margin-top: -356px;
}
.cardstyles:last-child {
  margin-left: 930px;
  margin-top: -356px;
}
#buttonstyles:first-child {
  margin-left: 5px;
}
#buttonstyles:nth-child(2) {
  margin-left: 55px;
}
#buttonstyles:nth-child(3) {
  margin-left: 155px;
}
#buttonstyles:nth-child(4) {
  margin-left: 240px;
}
#buttonstyles:last-child {
  margin-left: 320px;
}

.portfoliostyles1:first-child {
  margin-left: 10px;
}
.portfoliostyles1:nth-child(2) {
  margin-left: 410px;
  margin-top: -400px;
}
.portfoliostyles1:last-child {
  margin-left: 810px;
  margin-top: -400px;
}
.portfoliostyles2:first-child {
  margin-left: 10px;
}
.portfoliostyles2:nth-child(2) {
  margin-left: 410px;
  margin-top: -400px;
}
.portfoliostyles2:last-child {
  margin-left: 810px;
  margin-top: -400px;
}
.portfoliostyles3:first-child {
  margin-left: 10px;
}
.portfoliostyles3:nth-child(2) {
  margin-left: 410px;
  margin-top: -400px;
}
.portfoliostyles3:last-child {
  margin-left: 810px;
  margin-top: -400px;
}
.image-size {
  width: 150;
  height: 165;
}
footer {
  background-color: rgb(20%, 20%, 20%);
  color: white;
}
