:root {
  --webkit-margin-top-collapse: -101px;
  --webkit-margin-top-collapse1: -400px;
  --webkit-margin-top-collapse2: -356px;
  --webkit-margin-top-collapse3: -21px;
}

#logo {
  font-size: 40px;
}

.navigation_styles {
  margin-left: 50px;
  margin-top: -20px;
}

.style1 {
  text-align: center;
  background-color: rgb(20%, 20%, 20%);
  color: white;
}

#buttonstyles {
  background-color: rgb(0%, 50%, 100%);
}

.textstyles1 {
  margin-left: 50px;
}
.textstyles2 {
  margin-left: 350px;
  margin-top: var(--webkit-margin-top-collapse);
}
.textstyles3 {
  margin-left: 650px;
  margin-top: var(--webkit-margin-top-collapse);
}
.textstyles4 {
  margin-left: 950px;
  margin-top: var(--webkit-margin-top-collapse);
}

.imagestyles1 {
  margin-left: 10px;
}
.imagestyles2 {
  margin-left: 410px;
  margin-top: -298px;
}
.imagestyles3 {
  margin-left: 810px;
  margin-top: -298px;
}
.styles h2 {
  text-align: center;
}
.cardstyles1 {
  margin-left: 30px;
}
.cardstyles2 {
  margin-left: 330px;
  margin-top: var(--webkit-margin-top-collapse2);
}
.cardstyles3 {
  margin-left: 630px;
  margin-top: var(--webkit-margin-top-collapse2);
}
.cardstyles4 {
  margin-left: 930px;
  margin-top: var(--webkit-margin-top-collapse2);
}
#buttonstyles1 {
  margin-left: 5px;
}
#buttonstyles2 {
  margin-left: 55px;
  margin-top: var(--webkit-margin-top-collapse3);
}
#buttonstyles3 {
  margin-left: 155px;
  margin-top: var(--webkit-margin-top-collapse3);
}
#buttonstyles4 {
  margin-left: 240px;
  margin-top: var(--webkit-margin-top-collapse4);
}
#buttonstyles5 {
  margin-left: 320px;
  margin-top: var(--webkit-margin-top-collapse4);
}

.portfoliostyles1-1 {
  margin-left: 10px;
}
.portfoliostyles1-2 {
  margin-left: 410px;
  margin-top: var(--webkit-margin-top-collapse1);
}
.portfoliostyles1-3 {
  margin-left: 810px;
  margin-top: var(--webkit-margin-top-collapse1);
}
.portfoliostyles2-1 {
  margin-left: 10px;
}
.portfoliostyles2-2 {
  margin-left: 410px;
  margin-top: var(--webkit-margin-top-collapse1);
}
.portfoliostyles2-3 {
  margin-left: 810px;
  margin-top: var(--webkit-margin-top-collapse1);
}
.portfoliostyles3-1 {
  margin-left: 10px;
}
.portfoliostyles3-2 {
  margin-left: 410px;
  margin-top: var(--webkit-margin-top-collapse1);
}
.portfoliostyles3-3 {
  margin-left: 810px;
  margin-top: var(--webkit-margin-top-collapse1);
}
