:root {
  --text-color: #212121;
  --text-color2: #757575;
}

#logo {
  font-size: 40px;
}

.navigation_styles {
  display: block;
  margin-left: auto;
  margin-top: auto;
  text-align: center;
  padding-right: auto;
  margin-right: auto;
  border: 1px solid blue;
  padding: 0px;
  border-radius: 50px;
}

.navigation_styles:hover {
  color: white;
  background-color: rgb(0%, 50%, 100%);
}

.style1 {
  text-align: center;
  background-color: rgb(20%, 20%, 20%);
  color: white;
}

#buttonstyles {
  background-color: rgb(0%, 50%, 100%);
}

#textcolor {
  color: var(--text-color);
}

#p_color {
  color: var(--text-color2);
}

.textstyles1 {
  margin-left: 50px;
}
.textstyles2 {
  margin-left: 350px;
  margin-top: -120px;
}
.textstyles3 {
  margin-left: 650px;
  margin-top: -103px;
}
.textstyles4 {
  margin-left: 950px;
  margin-top: -103px;
}

.imagestyles1 {
  margin-left: 10px;
}
.imagestyles2 {
  margin-left: 410px;
  margin-top: -298px;
}
.imagestyles3 {
  margin-left: 810px;
  margin-top: -298px;
}
.styles h2 {
  text-align: center;
}
.cardstyles1 {
  margin-left: 30px;
}
.cardstyles2 {
  margin-left: 330px;
  margin-top: -356px;
}
.cardstyles3 {
  margin-left: 630px;
  margin-top: -356px;
}
.cardstyles4 {
  margin-left: 930px;
  margin-top: -356px;
}
#buttonstyles1 {
  margin-left: 5px;
}
#buttonstyles2 {
  margin-left: 55px;
}
#buttonstyles3 {
  margin-left: 155px;
}
#buttonstyles4 {
  margin-left: 240px;
}
#buttonstyles5 {
  margin-left: 320px;
}

.portfoliostyles1-1 {
  margin-left: 10px;
}
.portfoliostyles1-2 {
  margin-left: 410px;
  margin-top: -400px;
}
.portfoliostyles1-3 {
  margin-left: 810px;
  margin-top: -400px;
}
.portfoliostyles2-1 {
  margin-left: 10px;
}
.portfoliostyles2-2 {
  margin-left: 410px;
  margin-top: -400px;
}
.portfoliostyles2-3 {
  margin-left: 810px;
  margin-top: -400px;
}
.portfoliostyles3-1 {
  margin-left: 10px;
}
.portfoliostyles3-2 {
  margin-left: 410px;
  margin-top: -400px;
}
.portfoliostyles3-3 {
  margin-left: 810px;
  margin-top: -400px;
}
